.header{
    display: flex;
    justify-content: space-between;
    background-color: rgba(17, 17, 17, 0.808);
    padding: 1.5rem;
}

.header__title{
    color: white;
}

.header__add, .header__home{
    padding: .4rem;
    font-size: 1.2rem;
    color: #eee;
}

.header__add:hover, .header__home:hover{
    cursor: pointer;
}