<app-header></app-header>

<div class="table__search" style="padding:4px 10px;border-bottom: 0 none">
    <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
    <input #gb type="text" pInputText size="50" placeholder="Global Filter">
</div>

 <p-dataTable 
    [globalFilter]="gb"
    [value]="fetchedData" 
    [rows]="10" 
    [paginator]="true" 
    [pageLinks]="3" 
    [rowsPerPageOptions]="[5,10,20]"
    [sortField]="sortF" 
    [sortOrder]="sortO" 
    (onSort)="changeSort($event)">

    <p-header>List of Orders</p-header>
    <p-column field="quotetype" header="Quote Type" [sortable]="true"></p-column>
    <p-column field="quotenumber" header=" Quote#" [sortable]="true" *ngIf="show"></p-column>
    <p-column field="contactname" class="hello" header="Contact" [sortable]="true"></p-column>
    <p-column field="taskdescription" header="Task " [sortable]="true" ></p-column>
    <p-column field="dueday" header="Due Date" [sortable]="true"></p-column>
    <p-column field="tasktype" header="Task Type" [sortable]="true"></p-column>
    
    <!-- showmore and update buttons -->
    <p-column> 
            <ng-template let-data="rowData" pTemplate="body">
                <span type="button" pButton (click)="show = !show" icon="fa fa-eye"> </span>
                <span type="button" pButton (click)="status = !status; tu.update(data)" icon="fa fa-pencil"> </span>
            </ng-template>
    </p-column>

<p-footer>There are {{ fetchedData.length}} Datas </p-footer>
</p-dataTable>

<div [ngClass]="status? 'hide': 'show'">
<app-update (notify)=onNotifyClicked() #tu> </app-update>

</div>


