<app-header></app-header>
<p-table [value]="fetchedData">
    <ng-template pTemplate="header">
        <tr>
            <th> Quote Type </th>
            <th> Quote# </th>
            <th> Contact </th>
            <th> Task </th>
            <th> Due Date</th>
            <th> Task Type </th>
            <th> </th>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-data>
        <tr>
            <td>{{ data.quotetype }}</td>
            <td>{{ data.quotenumber }}</td>
            <td>{{ data.contactname }}</td>
            <td>{{ data.taskdescription }}</td>
            <td>{{ data.dueday.year }} {{ data.dueday.month }} {{ data.dueday.day }}</td>
            <td>{{ data.tasktype }}</td>
            <td> 
                <p-button label="Delete"  icon="fa fa-check" iconPos="left" (click)="delete(data.quoteid)"></p-button>
            </td>
            
        </tr>
    </ng-template>
</p-table>