<div class="form" >

  <div class="form__header">
    <h5> Add task </h5>
  </div>
  <form class="example-container" 
        #employeeForms="ngForm" 
        (submit)="submit(employeeForms)">

      <mat-form-field>
        <mat-select placeholder="Status" name="status" [(ngModel)]="status">
          <mat-option value="open"> Open</mat-option>
          <mat-option value="closed"> Closed </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput 
                placeholder="Quote Type"
                name="quotetype" 
                [(ngModel)]="quotetype">
      </mat-form-field>
    
      <mat-form-field>
        <input matInput 
                placeholder="Task Type" 
                name="tasktype" 
                [(ngModel)]="tasktype">
      </mat-form-field>

      <mat-form-field>
        <input matInput 
                placeholder="Contact Name" 
                name="contactname" 
                [(ngModel)]="contactname">
      </mat-form-field>

      <mat-form-field>
        <input matInput 
                placeholder="Quote Number"
                name="quotenumber" 
                [(ngModel)]="quotenumber">
      </mat-form-field>

      <mat-form-field>
        <input matInput 
               placeholder="Quote" 
               name="quote" 
               [(ngModel)]="quote">
      </mat-form-field>

      <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Due Date" name="fullDate" [(ngModel)]="fullDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field>
        <textarea matInput 
                  placeholder="Task Description" 
                  name="taskdescription"
                  [(ngModel)]="taskdescription"></textarea>
      </mat-form-field>

      <button id="form__button"> Submit </button>
  </form>
<!-- {{ employeeForms.value | json }} -->
</div>